* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(13, 17, 19);
    color: #fff;
}


img {
    max-width: 100%;
}

.btn {
    cursor: pointer;
    border: 0;
    background-color: rgb(0, 76, 200);
    border-radius: 100vw;     /* always gives you that perfect pill shape */
    padding: .5em 1.5em;
    color: ivory;
    font-weight: bold;
}

.game {
    position: relative;
    width: 12em;
}

.vegeta {
    border-radius: .5em;
}

.rank {
    font-weight: bold;
    position: absolute;
    z-index: 5;
    top: 0;
    right: 1em;
    background: rgba(0, 0, 0, .5);
    padding: .5em .5em .75em;
    clip-path: polygon(100% 0%, 100% 100%, 50% 75%, 0 100%, 0 0);    /* https://bennettfeely.com/clippy/  */
    transition: transform 100ms ease-in-out;    /* smoothly makes rank shift during hover  */
}

.name {
    margin: .75em 0;
}


.watching-now {

}

.stats {
       display: flex;
       justify-content: space-between;
       align-items: center;    
}


.tiny {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 2px solid rgb(57, 224, 132);
}

.one {
    transform: translateX(50%);
    z-index: 1;
}

.two {
    transform: translateX(25%);
}

.front {
 transition: 275ms;   /* makes vegeta shift at the same speed as the background */
 
}

.back {
    display: none;
}

.game:hover .front { 
    transform: translateY(-25%)  scale(.9);       /* makes vegeta shift up/shrink when hovering*/
}

.background {
    background-color: #234;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transform: scale(.2, .9);      /* makes it tiny so when we hover it grows */
    /* transition: 275ms; */         /* makes it so you can see the background fall back into place*/
    border-radius: .5em;
    opacity: 0;                     /* hides background before hover */
}

.game:hover .background {
    transform: scale(1.4, 1.2);     /* background grows */
    opacity: 1;
    transition: transform 275ms ease-in-out,
     opacity 100ms later;     /* makes it so the background just goes away instantly*/
}


.game:hover .stats {
   opacity: 0;    /* hides 9000 and streamers */
}

.game:hover .name {
    animation: gameName 275ms forwards;     /*without forwards it would reset. It's saying stay at the end state */
}


/* makes it looks like the name moves under the image in the center */
/* had to use keyframes because with transforms/transitions you can't transition a text align */
@keyframes gameName {
    0% {
        text-align: left;
        opacity: 1;
    }
     
    20% {
        text-align: left;
        opacity: 0;
    }

    50% {
        text-align: center;
        opacity: 0;
        transform: scale(1.9)  /*makes name larger */
    } 

    100% {
        text-align: center;
        opacity: 1;
        transform: scale(1.9)
    }
}


.game:hover .rank {
    transform: translate(150%, -88%);
}



.game:hover .back {
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;    
    flex-direction: column;   /*centering the btn*/
    align-items: center;
    
}


.game:hover .streaming-info {
    columns: 2;     /*makes watching and streams split | the background evenly*/
    column-rule: 1px solid rgba(255, 255, 255, .25);   /*makes the white |*/
    margin: 0 0 2em 0;
    
}


.game:hover .game-stat {
    font-size: 1.6rem;
    text-align: center;
}

.game:hover  span {
    font-size: .85rem;
    display: block;
}